:root {
  --main-color: #222;
  --bg-color: rgb(255, 217, 164);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;

  color: var(--main-color);
  background-color: var(--bg-color);
}

.nav-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  padding: 50px;

  border: 10px solid var(--main-color);
}

.logo {
  font-size: 2em;
  position: absolute;
}

.arrow {
  margin: 0;
  padding: .75em 0;

  position: absolute;

  visibility: hidden;
  opacity: 0;
  
  border: 0;
  background: 0;
}

.menu {
  position: relative;
  top: 50px;
}

.menu-hide {
  
}

.menu a, 
.menu a:link {
  display: inline-block;

  font-size: 2em;
  text-decoration: none;
  color: var(--main-color);
}

.menu ul {
  padding: 0;
  margin: 0;

  list-style: none;
}

.submenu {
  position: absolute;
  top: 0;
  
  transform: translateX(100%);
  opacity: 0;
}

.submenu a {
  opacity: 0;
  transform: translateX(10%);
}

.submenu-show {
  transform: translateX(0);
  opacity: 1;
}

.submenu-hide {
  display: none;
}