:root {
  --color-sea: #4b9ca0;
  --color-clouds: #ffffff;

  --color-sky-day: #8dd0d3;
  --color-sky-evening: #efd7e2;
  --color-sky-night: #3a2d55;
  
  --color-sun-day: #efde51;
  --color-sun-evening: #ef7f51;
  --color-sun-shadow: transparent;

  --dayDuration: 4s;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  min-height: 100vh;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.world {
  width: 50vmin;
  height: 50vmin;

  position: relative;

  overflow: hidden;

  border-radius: 100%;
  background-color: var(--color-sky-day);

  animation-name: colorTheSky;
  animation-iteration-count: infinite;
  animation-duration: var(--dayDuration);
  animation-fill-mode: forwards;
}

@keyframes colorTheSky {
  0% {
    background-color: var(--color-sky-day);
  }
  25% {
    background-color: var(--color-sky-day);
  }
  80% {
    background-color: var(--color-sky-evening);
  }
  90%, 95% {
    background-color: var(--color-sky-night);
  }
  100% {
    background-color: var(--color-sky-day);
  }
}

.sea {
  width: 100%;
  height: 30%;

  position: absolute;
  top: 70%;

  background-color: var(--color-sea);

}

.sun {
  width: 20%;
  height: 20%;

  position: absolute;
  top: -20%;
  left: 40%;

  border-radius: 100%;
  background-color: var(--color-sun-day);

  box-shadow: 0 0 40px var(--color-sun-shadow);

  animation-name: moveTheSun;
  animation-iteration-count: infinite;
  animation-duration: var(--dayDuration);
  animation-fill-mode: forwards;
}

@keyframes moveTheSun {
  0% {
    top: -40%;
    transform: scale(.8);
    background-color: var(--color-sun-day);
  }
  24%, 25% {
    top: 0;
    transform: scale(.8);
    background-color: var(--color-sun-day);
  }
  80% {
    top: 60%;
    transform: scale(1);
    background-color: var(--color-sun-evening);
  }
  90%, 99.99% {
    top: 100%;
    transform: scale(1.1);
    background-color: var(--color-sun-evening);
  }
  100% {
    top: -40%;
    transform: scale(.8);
    background-color: var(--color-sun-day);
  }
}

.sun:before {
  content: "";
  display: block;

  width: 200%;
  height: 200%;

  position: absolute;
  left: -50%;
  top: -50%;

  opacity: .1;

  border-radius: 100%;
  background-color: inherit;

  box-shadow: inset  0 0 10px var(--color-sun-shadow);
}

.sun:after {
  content: "";
  display: block;

  width: 250%;
  height: 250%;

  position: absolute;
  left: -75%;
  top: -75%;

  opacity: .1;

  border-radius: 100%;
  background-color: inherit;

  box-shadow: inset 0 0 10px var(--color-sun-shadow);
}

.cloud {
  width: 40%;
  height: 10%;

  position: absolute;
  left: 65%;
  top: 25%;

  overflow: hidden;
}

.cloud-b {
  width: 65%;
  height: 20%;

  left: -70px;
  top: 45%;
}

.cloud-droplet {
  width: 50%;
  height: 200%;

  position: absolute;
  left: 25%;
  top: 0;

  border-radius: 100%;
  background-color: var(--color-clouds);
}

.cloud-droplet-s {
  width: 25%;
  height: 100%;

  position: absolute;
  left: 10%;
  top: 50%;

  border-radius: 100%;
  background-color: var(--color-clouds);
}

.cloud-droplet-s-r {
  left: auto;
  right: 15%;
  top: 20%;
}

.cloud-droplet-s-a {
  left: auto;
  right: 0%;
  top: 70%;
}