* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

article {
  position: relative;
  padding: 50px;

  width: 50vw;
  min-height: 100vh;

  border: 10px solid blue;
}

h1 {
  position: relative;

  color: blue;
  border-bottom: 1px solid blue;
}

p {
  font-family: sans-serif;
  line-height: 1.4;
}

a {
  padding: 5px 10px;
  margin-bottom: 10px;

  display: inline-block;

  border: 1px solid blue;
  border-radius: 10px;

  text-decoration: none;
}

span {
  width: 4em;
  height: 4em;

  display: block;

  font-size: .5em;
  text-transform: uppercase;
  text-align: center;
  line-height: 4em;

  color: red;
  border: 1px solid red;
  border-radius: 50%;
}

.span-positioned {
  position: absolute;
  right: -20px;
  top: -30px;
}

.link-share {
  position: absolute;
  left: 50px;
  bottom: 30px;
}
