* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;

  /* center */
  display: flex;
  flex-flow: row wrap;
  
  justify-content: center;
  align-items: center;
  
  align-content: center;

  background-color: darkgreen;
  background: -webkit-radial-gradient(center,  green 0%, darkgreen 75%);
  background: -moz-radial-gradient(center,  green 0%, darkgreen 75%);
  background: radial-gradient(center,  green 0%, darkgreen 75%);
}

/*
  The main Ball container
*/
.ball {
  margin: 20px;
  width: 100px;
  height: 100px;

  /* center */
  display: flex;
  justify-content: center;
  align-items: center;

  /* to contain the absolutely 
  positioned pseudo elements */
  position: relative;
  /* to hide them */
  overflow: hidden;

  /* styles */
  font-size: 1.9em;
  background-color: black;
  border-radius: 50%;
}

.ball-number {
  width: 40%;
  height: 40%;

  /* center */
  display: flex;
  justify-content: center;
  align-items: center;
  
  /* styles */
  background-color: beige;
  border-radius: 50%;
}

.ball-number-alt:before {
  content: "";
  width: 100%;
  height: 100%;

  display: block;

  position: absolute;
  top: 0;
  left: 0;

  /* move the box up */
  transform: translateY(-80%);

  background-color: beige;
}

.ball-number-alt:after {
  content: "";
  width: 100%;
  height: 100%;

  display: block;

  position: absolute;
  top: 0;
  left: 0;
  
  /* move the box up */
  transform: translateY(80%);

  background-color: beige;
}

/* different billiard balls */
.ball-five {
  background-color: orange;
}
.ball-nine {
  background-color: rgb(219, 199, 24);
}
.ball-eleven {
  background-color: red;
}

.ball-transform {
  /* added delay for when you hover out of the element */
  transition: transform 350ms ease-out 500ms;
}

.ball-transform:hover {
  transition: transform 750ms ease-in-out;
  /* default transform origin */
  transform-origin: center;
  transform: scale(2);
  /* use the cursor meant for links */
  cursor: pointer;
}