body {
  background-color: #eeeeee;

  color: #333333;

  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 18px;
}

h1 {
  /* Color changes the text color */
  color: #0000aa;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 42px;
  font-weight: 400 /* normal */;
  font-style: italic;
  font-variant: small-caps;

  letter-spacing: 5px;
}

p {
  line-height: 22px;

  text-align: left;
  text-decoration: none;
  /* text-decoration: wavy underline black; */
  text-indent: 10px;
}

p:first-of-type {
  color: #0000aa;
  font-size: 22px;
}