body {
  background-color: yellow;
  color: blue;

  font-family: sans-serif;

  /* bASE fONT sIZE -- 16px */
  font-size: 100%;
}

p {
  /* Overwrite the font size */
  font-size: 1.25em;
  line-height: 1.3;
  /* 16px * 1.25 = 20px */
}

h2 {
  font-size: 1.5em;
  /* 16px * 1.5 = 24px */
}

.detailed {
  color: violet;
}

/*

10 = 160px
1.25 = 20px
1.5 = 24px
1 = 16px
.5 = 8px
.25 = 4px;
.125 = 2px;

*/
